* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/* Your code starts here! */

.contain {
 
 width: 1200px;
 margin: 0 auto;
 padding: 0;
  
}

.navi {
 width: 75%;
  display: inline-block;
  word-spacing: 90px;
 margin: 0 auto;
 padding: 0;
  
  
}

a {
	
	text-decoration: none;
	color: grey;
	font-size: 20px;
	padding: 0;
	
}

header {
	
	margin: 0 auto;
	padding: 20px;
	
}


 
#headsho {
  font-size: 100px;
  text-align: center;
margin-right: 200px;
}

#headsho, button {
	
	margin-left: 0px;
  display: inline-block;
	
}

.contimg {
	
	width: 100%;
	margin-right: 100px;
}

.innovmain {

width: 1200px;	

}

button {
	
	
   width: 155px;
   margin-bottom: 400px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid black;
  background: white;
  
}

.logo {
  
  width: 32%;
  display: inline-block;
  margin-left: 900px;
  margin-bottom: 110px;
  padding-right: 10px;
  padding-left: 20px;
  
  
}

.topcont {
	
	border-top: 5px solid black;
}

.topcont article {

 width: 44%;
  display: inline-block;
  padding-right: 1px;
  margin-left: 50px; 

}





.bottomcont {
  
    border-bottom: 5px solid black;
  
}

.bottomcont article {
	width: 28%;
  display: inline-block;
  padding-right: 10px;
 
  margin-left: 50px; 
	
}

#leftcont {
	
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-left: 75px;
  padding-top: 0;
  
  
}

#rightcont {
	
	display: inline-block;
  width: 50%;
  margin-left: 150px;

}



body {
	
	
	font-family: "Titillium Web", sans-serif;

}

h1, h2 {
	font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.middle-img {

  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#copyhuh {
	
	text-align: center;
	
}