* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 1px solid grey;
}

/* Your code starts here! */

.contain {
 
 width: 1200px;
 margin: 0 auto;
  
}

.navi {
 width: 75%;
  display: inline-block;
  word-spacing: 90px;
  
  
}


 
#headsho {
  font-size: 60px;
}

button {
	
	
   width: 125px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid black;
  background: white;
  
}

.logo {
  
  width: 30%;
  display: inline-block;
  margin-left: 920px;
  margin-bottom: 100px;
  
  
}

.topcont {
	
	border-top: 5px solid black;
  
}

.topcont section {

 width: 49%;
  display: inline-block;

}





.bottomcont {
  
    border-bottom: 5px solid black;
  
}

.bottomcont section {
	width: 32%;
  display: inline-block;
	
}

.leftcont {
	
  display: inline-block;
  width: 49%;
  padding: 5% 15%;
  text-align: center;
  
}

.rightcont {
   display: inline-block;
  width: 49%;
  text-align: center;
  margin-top: 50px;
}



body {
	
	
	font-family: "Titillium Web", sans-serif;

}

h1, h2 {
	font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.middle-img {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}