* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;

}

/* Your code starts here! */

body {
	
	
	font-family: "Titillium Web", sans-serif;

}

h1, h2 {
	font-family: "Bangers", cursive;
  letter-spacing: 1px;
}

.contain {
 
 width: 50%;
 padding: 0;
 display: block;
 /* position: absolute;
 left: 25%; */
 
}

.navi {
  display: inline-block;
  word-spacing: 90px;
 padding: 0;
  
  
}

a {
	
	text-decoration: none;
	color: grey;
	font-size: 20px;
  display: inline;
	
}

header {
  
	margin: 0;
  padding: 0px;
  display: block;
  /* position: fixed;
  background-color: azure; */
  	
}


 
#headsho {

  margin: 0 auto;
  font-size: 100px;
  text-align: center;
}

#headsho, button {
	
	margin: 0% auto;
  display: inline-block;
	
}

.contimg {
  
  
  width: 100%;
  margin-left: 200px; 
  position: relative;
  /* z-index: -1; */
  
}

.innovmain {

  display: block;
width: 100%;	
/* margin: 15% auto; */
padding: 3%;


}

button {
	
	
   width: 155px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid black;
  background: white;
  
}

.logo {
  
  width: 32%;
  display: inline-block;
  margin-left: 900px;
  margin-bottom: 110px;
  padding-right: 10px;
  padding-left: 20px;
  
  
}

.topcont {
	
  border-top: 5px solid black;
  margin: 0 auto;

}

.topcont article {

 width: 45%;
 padding: 1%;

  display: inline-block;

}





.bottomcont {
  
    border-bottom: 5px solid black;
  
}

.bottomcont article {
	width: 33%;
  display: inline-block;
 
	
}

#leftcont {
	
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-left: 75px;
  padding-top: 0;
  
  
}

#rightcont {
	
	display: inline-block;
  width: 50%;

}




div .middle-img {

  padding: 1%

}

.middle-img {

  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#copyhuh {
	
	text-align: center;
	
}

footer {
 

  margin: 1% 5% 4% auto;
  padding 5%;
}